{{ $currentPage := . }}
<nav style="padding-top: 10px;">
    <ul>
        <li>
            <a class="" href="https://www.linkedin.com/in/avreal31" target = "_blank">
                <i class="fa-li fa fa-lg"></i><span>LINKEDIN</span>
            </a>
        </li>

        <li>
            <a class="" href="https://github.com/avreal" target = "_blank">
                <i class="fa-li fa fa-lg"></i><span>GITHUB</span>
            </a>
        </li>
        {{ range .Site.Menus.main }}
        <li>
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="/{{lower .Name}}">
                <i class="fa-li fa {{ .Pre }} fa-lg"></i><span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
